
# open-webui
export OPEN_WEBUI_HOSTNAME=mylocalowui.example.com
export OPEN_WEBUI_JWT_TOKEN=AAAAAAAAAAAAAAAAAAAAAAAAAAAAA
export OPEN_WEBUI_API_KEY=sk-00000000000000000000000000000000

# open telemetry
export OTEL_EXPORTER_OTLP_ENDPOINT="http://XX.XX.XX.XX:4318"
export OTEL_EXPORTER_OTLP_HOSTNAME="XX.XX.XX.XX:4318"

